* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

header {
  margin-top: 10px;
}



.header-homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.logotype {
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-homepage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.logo-homepage {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}


.rams {
  margin-top: 50px;
  max-width: 70%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.rams-img {
 
}

.rams h1 {
  font-size: 2.5em;
  font-weight: 600;
  font-style: italic;
}

.rams-quote {
  position: absolute;
  bottom: 30%;
  right: 200px;
  max-width: 50%;
}

.rams-text {
  line-height: 150%;
  padding-bottom: 1em; 
  border-bottom: 2px solid green;
  max-width: 400px;
}

.rams-author {
  position: absolute;
  right: 0;
  text-align: right;
  margin-top: -1.5em;
  padding: 1em 0 1em 50px;
  background-color: #f3f3f3;
}

.article-radio {
  display: flex;
  align-self: flex-start;
}

.circle-radio {
  background-color: #ffcc00;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
}

.text-description {
  width: 20%;
}